name: Deploy to Github Pages

# Run workflow on every push to the main branch
on:
  push:
    branches: [main]

jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
      # uses GitHub's checkout action to checkout code from the main branch
      - uses: actions/checkout@v2
      # sets up the .NET SDK 5.x
      - name: Setup .NET SDK 5.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.x
      #publishes Blazor project to the release-folder
      - name: Publish .NET 5.0 Project
        run: dotnet publish TtBlazorPlayground.csproj -c Release -0 release --nologo
      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: release/wwwroot     
